/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #EEEEEE;
}

/* Menú de navegación fijo */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    height: 10%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #EEEEEE;
    text-decoration: none;
    background-color: #333;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #76ABAE;
    border-radius: 5px;
    color: #31363F;
}

/* Estilos para las secciones */
.seccion {
    display: block;
    padding: 100px 20px;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #31363F;
}

#inicio {
    background-color: #31363F;
    color: #EEEEEE;
    height: 85%;
}


#proyectos {
    background-color: #31363F;
    color: #EEEEEE;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
    box-sizing: border-box;
    width: auto;
}

#sobre-mi {
    background-color: #fff4e6;
}

#contacto {
    background-color: #31363F;
}



/* Contact Form */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    color: #EEEEEE;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #31363F;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    height: 5%;
}

/* SWIPER */

.swiper {
    width: 80%;
    padding-top: 10px;
}

.card-wrapper {
    width: 100%;
    margin: 0 auto;
    min-width: 100vh;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link {
    width: 275px;
    margin: 5px;
    display: block;
    background: #EEEEEE;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #76ABAE; 
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #76ABAE; 
    padding: 8px 16px;
    font-size: 0.95rem;
    margin: 16px 0 18px;
    font-weight: 500;
    background: #31363F;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #76ABAE;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #31363F;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #76ABAE;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #31363F;
    background: #76ABAE;
}

.swiper-button-next {
    margin-left: 5px;
    color: #EEEEEE;
}