/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 0px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* Menú de navegación fijo */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Estilos para las secciones */
.seccion {
    display: none; /* Todas las secciones están ocultas por defecto */
    padding: 100px 20px;
    min-height: 100vh;
    background-color: #31363F;
}

.visible {
    display: block; /* Solo la sección visible se muestra */
}

#inicio {
    background-color: #121212;
    color: #FFFFFF;
}


#portafolio {
    background-color: #31363F;
    color: #EEEEEE;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

#sobre-mi {
    background-color: #fff4e6;
}

#contacto {
    background-color: #e8f7ff;
}



/* Contact Form */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #31363F;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #EEEEEE;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #76ABAE; 
}

.card-list .card-link .card-image {
    width: 50%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #76ABAE; 
    padding: 8px 16px;
    font-size: 0.95rem;
    margin: 16px 0 18px;
    font-weight: 500;
    background: #31363F;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #76ABAE;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #31363F;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #76ABAE;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #31363F;
    background: #76ABAE;
}